extends layout

block content
  h3 Address
  div= address

  h3 Transactions
  each val in txes
    div
      a(href='/transaction/#{val.txid}/') #{val.txid}
  div.pagination
  if prevpage
    a(href='/address/#{address}/#{prevpage}/', style='float:left') Back
  if nextpage
    a(href='/address/#{address}/#{nextpage}/', style='float:right') Next
