extends layout

block content
  h3 Address
  div= address

  h3 Transactions
  table
    each vout in vouts
        tr
          if vout['Transactions.TransactionVouts.direction'] == 1
            td INCOME 
          else
            td OUTCOME
          td
            a(href=`/transaction/${vout['Transactions.txid']}/`) #{vout['Transactions.txid']}
  div.pagination
  if prevpage
    a(href=`/address/${address}/${prevpage}/`, style='float:left') Back
  if nextpage
    a(href=`/address/${address}/${nextpage}/`, style='float:right') Next
