extends layout

block content
  h3 Address
  div= address.address

  h3 Transactions
  table
    each transaction in transactions
        tr
          if transaction['Vouts.TransactionVouts.direction'] == 1
            td INCOME 
          else
            td OUTCOME
          td
            a(href=`/transaction/${transaction.txid}/`) #{transaction.txid}
  div.pagination
  if prevpage
    a(href=`/address/#{address}/${prevpage}/`, style='float:left') Back
  if nextpage
    a(href=`/address/${address}/${nextpage}/`, style='float:right') Next
