extends layout

block content
  h3 Block

  table
    each key in Object.keys(block)
      if (key === 'nextblockhash')
        tr
          td.capitalize #{key}
          td
            a(href='/block/#{block.nextblockhash}/') #{block.nextblockhash}
        -continue
      if (key === 'previousblockhash')
        tr
          td.capitalize #{key}
          td
            a(href='/block/#{block.previousblockhash}/') #{block.previousblockhash}
        -continue
      if (key === 'Transactions')
        -continue
      tr
        td.capitalize #{key}
        td #{block[key]}

  h3 Transactions
  each tx in block.Transactions
    div
      a(href='/transaction/#{tx.txid}/') #{tx.txid}

