extends layout

block content
  h3 Transaction

  table
    tr
      td Hash
      td #{transaction.txid}

  h3 Block
  table
    tr
      td Block height
      td
        a(href=`/block/${transaction.Block.hash}/`) #{transaction.Block.height}
    tr
      td Block hash
      td #{transaction.Block.hash}
    tr
      td Time
      td #{transaction.blockTime}
    tr
      td Confirmations
      td #{confirmations}

  h3 In
  if transaction.vins.length
    table
      tr
        th Address
        th Value
        th Transaction
      each vin in transaction.vins
        tr
          td
            a(href=`/address/${vin.Addresses[0].address}/`) #{vin.Addresses[0].address}
          td #{vin.value}
          td 
            a(href=`/transaction/${vin.Transactions[0].txid}/`) #{vin.Transactions[0].txid} 
  else
    div Mined

  h3 Out
  table
    tr
      th Address
      th Value
      th Transaction
    each vout in transaction.vouts
      each address in vout.Addresses
        tr
          td
            a(href=`/address/${address.address}/`) #{address.address}
          td #{vout.value}
          td
            each transaction in vout.Transactions
              a(href=`/transaction/${transaction.txid}/`) #{transaction.txid} 
